<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title> ADMIN</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />  
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
    <link href="/stylesheets/dataTables.bootstrap.css" rel="stylesheet" />   
    <link href="/stylesheets/style.css" rel="stylesheet" />   
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
      {{!-- <link rel="stylesheet" href="/stylesheets/hinhnen.css"/> --}}
        </head>
  <body>
    {{{body}}}

    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.dataTables.js"></script>
    <script src="/javascripts/dataTables.bootstrap.js"></script>
    <script src="/javascripts/custom.js"></script>
    
  </body>
</html>
